<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/static/jquery.mobile-1.4.5.css"/>
    <link rel="stylesheet" type="text/css" href="/static/commen.css"/>
    <script src="/static/jquery-2.1.4.min.js"></script>
    <script src="/static/jquery.mobile-1.4.5.min.js"></script>

</head>

<body>
<div data-role="page">
    <div data-role="header">
        <h2>快人一步</h2>
        <a href="" data-rel="back">返回</a>
        <a href="#" data-role="button" data-icon="gear" data-iconpos="notext" class="ui-btn-right">设置</a>
    </div>

    <div data-role="navbar">
        <ul>
            <li><a href="{% url 'home_page' e_mail%}" class="ui-btn-active ui-state-persist">首页</a></li>
            <li><a href="{% url 'view_caselists' e_mail%}">推送设置</a></li>
            <li><a href="#">我的信息</a></li>
        </ul>
    </div>
    <div data-role="content">

    </div>

</div>
</body>