{% extends 'base.html' %}
{% block toolbars_text %}<h2>快人一步</h2>{% endblock %}
{% block toolbars %}
    <a href="" data-rel="back">返回</a>
    <a href="#" data-role="button" data-icon="gear" data-iconpos="notext" class="ui-btn-right">设置</a>
{% endblock %}

{% block navbar %}
    <ul>
        <li><a href="{% url 'home_page' %}">首页</a></li>
        <li><a href="{% url 'view_case_set' %}">推送设置</a></li>
        <li><a href="javascript:window.location.reload()" class="ui-btn-active ui-state-persist">我的信息</a></li>
    </ul>
{% endblock %}

{% block content %}
    <a data-role="button" href="{% url 'logout' %}">登出</a>
{% endblock %}